.x-scroll-wrap
  display inline-block
  position relative
  overflow hidden

.x-scroll-bar
  background gray
  background rgba(0, 0, 0, 0.5)
  /*
  -webkit-border-radius 7px
  -moz-border-radius 7px
  border-radius 7px
  */
  -webkit-box-shadow 0 0 1px #fff
  -moz-box-shadow 0 0 1px #fff
  box-shadow 0 0 1px #fff
  position absolute
  opacity 0
  -webkit-transition linear 300ms opacity
  -moz-transition linear 300ms opacity
  -o-transition linear 300ms opacity

.x-scroll-bar-show
  opacity 1

.x-scroll-bar-h
  height 7px
  margin-left 2px
  bottom 2px
  left 0

.x-scroll-bar-v
  width 7px
  margin-top 2px
  right 2px
  top 0

.x-scroll-body
  overflow scroll

.x-scroll-body::-webkit-scrollbar
.x-scroll-body::scrollbar
  width 0
  height 0
