gino = 222
option(aaa=gino) ciao
option= gino

option
option ciao
option:value_1

pencil:form
nando:form:form

style
script
html
  head
    style(href='123')
    style
    if 1==1
      pl:noframe
    bootstrap:container
    span
      bootstrap:column
    bs:row
      bs:column
      bs:column:5
      bs:col
      bs:col
      bootstrap:col:5
    span
      bootstrap:column
    bootstrap:column
    orca
    pencil:custom
    :js
      //alert('ciao');