.x-panel
	overflow hidden
	position relative

	.x-panel-header
		float left
		width 100%
		line-height 30px
		padding 0
		border 0 solid $border
		border-width 1px 1px 0
		background-color #CBDDF3
		background linear-gradient(center top , #DAE7F6, #CDDEF3 45%, #ABC7EC 46%, #ABC7EC 50%, #B8CFEE 51%, #CBDDF3)

	.x-panel-body
		float left
		width 100%
		overflow hidden
		position relative
		border 1px solid $border

	.x-mask
		background #fff
		opacity 0.5
		z-index 100
		position absolute
		top 0
		left 0
		height 100%
		width 100%

	.x-mask-body
		border 1px solid $border
		position absolute
		top 50%
		margin-top -15px
		left 50%
		min-width 100px
		margin-left -50px
		z-index 101
		text-align center
		line-height 30px

		& > span
			display block
			line-height 30px

.x-panel-frame
	border-radius 4px
	-ms-border-radius 4px

	.x-panel-header
		//

	.x-panel-body
		//

.x-panel-collapsed
	//

	.x-panel-header
		border-bottom-width 1px

	.x-panel-body
		display none

.x-panel-window
	//

	.x-panel-header
		//

	.x-panel-body
		//
