@import '_utils'

support-for-ie = true

$border = #99BCE8
blue = #4787ED
mid = #a7a7a7
light = #e5e5e5
dark = #626262

@import 'core/reset'


@import 'core/columns'
@import 'core/button'
@import 'core/panel'
@import 'core/toolbar'
@import 'core/tooltip'
@import 'core/tabs'
@import 'core/scroller'
@import 'core/utility/scroll'





.space
  height 30px

body
  position relative
  margin 0
  padding 0
  font 13px Helvetica, Arial, sans-serif