html
  head
    favicon
html
  head
    favicon(href='/favicon_test')
html
  head
    favicon(at='at', href='/favicon_test')

pencil:html
  head
    pencil:favicon
pencil:html
  head
    pencil:favicon(href='/favicon_test')
pencil:html
  head
    pencil:favicon(at='at', href='/favicon_test')