form
form:post
form:get
form:put
form:del
form:delete
form(method='put')
form:get(method='del')
form:del
  input:submit:ciao:ciao2

pencil:form
pencil:form:post
pencil:form:get
pencil:form:put
pencil:form:del
pencil:form:delete
pencil:form(method='put')
pencil:form:get(method='del')
pencil:form:del
  pencil:input:submit:ciao:ciao2