val_1 = "val_1"
val_2 = "val_2"

option
option ciao
option:value_1
option:value_1:label_1
option:value_1 ciao
option:value_1(value='value_2') ciao
option:value_1:label_1(value='value_2') ciao
option:value_1:label_1(value='value_2')

option= val_1
option(value=val_2)= val_1

pencil:option
pencil:option ciao
pencil:option:value_1
pencil:option:value_1:label_1
pencil:option:value_1 ciao
pencil:option:value_1(value='value_2') ciao
pencil:option:value_1:label_1(value='value_2') ciao
pencil:option:value_1:label_1(value='value_2')

pencil:option= val_1
pencil:option(value=val_2)= val_1