.x-tabs-bar-default
	//

	.x-tab-bar-strip-default
		background #F5F5F5
		border-color #E5E5E5
		border-color rgba(0, 0, 0, 0.1)
		
	.x-tab-bar-body-default
		border-color #E5E5E5
		border-color rgba(0, 0, 0, 0.1)
	
		.x-tab-default
			font-size 11px
			font-weight bold
			color #444
			border-color #E5E5E5
			border-color rgba(0, 0, 0, 0.1)
			
			*
				cursor pointer
			
			.x-tab-outer-default
				//

				.x-tab-inner-default
					//

			&.x-tab-active
				background #F5F5F5
		
	&.x-tabs-bar-top-default
		//
		
		.x-tab-bar-strip-default
			//

		.x-tab-bar-body-default
			//
	
			.x-tab-default
				border-radius 4px 4px 0 0
				-ms-border-radius 4px 4px 0 0
	
				.x-tab-outer
					//
	
					.x-tab-inner
						//

				&.x-tab-active
					//
	
	
	&.x-tabs-bar-bottom-default
		//
		
		.x-tab-bar-strip-default
			//

		.x-tab-bar-body-default
			//
	
			.x-tab-default
				border-radius 0 0 4px 4px
				-ms-border-radius 0 0 4px 4px
	
				.x-tab-outer
					//
	
					.x-tab-inner
						//

				&.x-tab-active
					//
	
	
	&.x-tabs-bar-left-default
		//
		
		.x-tab-bar-strip-default
			//

		.x-tab-bar-body-default
			//
	
			.x-tab-default
				border-radius 4px 0 0 4px
				-ms-border-radius 4px 0 0 4px
	
				.x-tab-outer
					//
	
					.x-tab-inner
						//

				&.x-tab-active
					//
	
	
	&.x-tabs-bar-right-default
		//
		
		.x-tab-bar-strip-default
			//

		.x-tab-bar-body-default
			//
	
			.x-tab-default
				border-radius 0 4px 4px 0
				-ms-border-radius 0 4px 4px 0
	
				.x-tab-outer
					//
	
					.x-tab-inner
						//

				&.x-tab-active
					//