.x-tooltip.x-tooltip-default
	background #F5F5F5
	border 1px solid #E5E5E5
	border-color rgba(0, 0, 0, 0.1)
	box-shadow 1px 1px 1px rgba(0, 0, 0, 0.1)
	-moz-border-radius 4px
	-webkit-border-radius 4px
	
	.x-tooltip-body
		font-size 12px
	
	.x-tooltip-arrow

		.x-tooltip-arrow-before
		.x-tooltip-arrow-after
			//

		&.x-tooltip-arrow-top-left
		&.x-tooltip-arrow-top-center
		&.x-tooltip-arrow-top-right
			//
			.x-tooltip-arrow-before
				border-bottom-color rgba(0, 0, 0, 0.1)
			.x-tooltip-arrow-after
				border-bottom-color #F5F5F5

		&.x-tooltip-arrow-right-top
		&.x-tooltip-arrow-right-center
		&.x-tooltip-arrow-right-bottom
			//
			.x-tooltip-arrow-before
				border-left-color rgba(0, 0, 0, 0.1)
			.x-tooltip-arrow-after
				border-left-color #F5F5F5

		&.x-tooltip-arrow-bottom-left
		&.x-tooltip-arrow-bottom-center
		&.x-tooltip-arrow-bottom-right
			//
			.x-tooltip-arrow-before
				border-top-color rgba(0, 0, 0, 0.1)
			.x-tooltip-arrow-after
				border-top-color #F5F5F5

		&.x-tooltip-arrow-left-top
		&.x-tooltip-arrow-left-center
		&.x-tooltip-arrow-left-bottom
			//
			.x-tooltip-arrow-before
				border-right-color rgba(0, 0, 0, 0.1)
			.x-tooltip-arrow-after
				border-right-color #F5F5F5